#login-form label {
  /* adjust color of labels for the inputs in the login form */
  color: black;
}

#register-form label {
  /* adjust color of labels for the inputs in the registration form */
  color: black;
}

.invalid-feedback {
  margin-top: 1rem;
}